/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

/* In your styles */
.pagination {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}


/* Set global font family */
body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-image: url(https://wallpapers.com/images/hd/food-4k-m37wpodzrcbv5gvw.jpg);
  background-repeat: no-repeat;
  background-size:cover;
}
